@model IEnumerable<NorthwestLabs.Models.Test>

@{
    ViewBag.Title = "Index";
}

<h2>Tests:</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" >
    <tr class="formtext" style="font-size:18px;">
        <th>
            @Html.DisplayNameFor(model => model.testName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estimatedDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baseCost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="formtext" style="font-size:14px;">
            <td>
                @Html.DisplayFor(modelItem => item.testName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estimatedDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.baseCost)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TestID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TestID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TestID })
            </td>
        </tr>
    }

</table>

<h4>@Html.ActionLink("Go Back", "LabInfo", "Admin")</h4>