@model IEnumerable<NorthwestLabs.Models.Work_Order>

@{
    ViewBag.Title = "labData";
}

<table class="table col-lg-12">
    <tr class="formtext" style="font-size:18px;">
        <th class="formtext" style="font-size:18px;">
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateArrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDue)
        </th>
        <th>
            Compound Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actualWeight)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="formtext" style="font-size:14px;">
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LTNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateArrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDue)
        </td>
        <td>
            @foreach (var item2 in item.compounds)
            {
                @Html.DisplayFor(modelItem => item2.compoundName)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actualWeight)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>*@
        <td style="font-size:12px;">
            @Html.ActionLink("Enter Actual Weight", "enterWeight", new { id = item.OrderID })
        </td>
    </tr>
}

</table>
