@model Tuple<IEnumerable<NorthwestLabs.Models.Test_Assay>,IEnumerable<NorthwestLabs.Models.Material>>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.item2.materialsDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item2.materialsCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Item2) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.materialsDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materialsCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaterialsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaterialsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaterialsID })
        </td>
    </tr>
}

</table>
