@model NorthwestLabs.Models.Work_Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Work_Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LTNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LTNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateArrived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateArrived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.custWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.custWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actualWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actualWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
