@model IEnumerable<NorthwestLabs.Models.Work_Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateArrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actualWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LTNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateArrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actualWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
