@{
    ViewBag.Title = "EnterAssay";
}


<h2>Select Assay</h2>

<p class="formtext">Compound: @ViewBag.compoundName</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10">
        </div>
    </div>
    <table class="table">
        <tr>
            <td>

            @Html.Raw(ViewBag.ErrorMessage)
            

        </tr>
        <tr>
            <td valign="middle" style="font-size:24px; font-family:Century Gothic">
                <input type="checkbox" class="largerCheckbox form-check-inline" name="assay1" value="true"> Fire Package
                <abbr title="View assay information"><a href="@Url.Action("Catalog", "Home") " target="_blank"><img src="~/Graphics/QuestionMark.png" width="16" /></a></abbr>
            </td>
            <td align="left"></td>
            <td width="50%"> 
            
            
            </td>
        </tr>
        <tr>
            <td valign="middle" style="font-size:24px; font-family:Century Gothic">
                <input type="checkbox" class="largerCheckbox form-check-inline" name="assay2" value="true"> Ocean Package
                <abbr title="View assay information"><a href="@Url.Action("Catalog", "Home") " target="_blank"><img src="~/Graphics/QuestionMark.png" width="16" /></a></abbr>
            </td>
            <td align="left"></td>
            <td width="50%"></td>
        </tr>
        <tr>
            <td valign="middle" style="font-size:24px; font-family:Century Gothic">
                <input type="checkbox" class="largerCheckbox form-check-inline" name="assay3" value="true"> Space Package
                <abbr title="View assay information"><a href="@Url.Action("Catalog", "Home") " target="_blank"><img src="~/Graphics/QuestionMark.png" width="16" /></a></abbr>
            </td>
            <td align="left"></td>
            <td width="50%"></td>
        </tr>
        <tr>
            <td valign="middle" style="font-size:24px; font-family:Century Gothic">
                <input type="checkbox" class="largerCheckbox form-check-inline" name="assay4" value="true"> Universal Package
                <abbr title="View assay information"><a href="@Url.Action("Catalog", "Home") " target="_blank"><img src="~/Graphics/QuestionMark.png" width="16" /></a></abbr>
            </td>
            <td align="left"></td>
            <td width="50%"></td>
        </tr>



    </table>
    <input type="submit" value="Order" class="btn btn-lg btn-outline-info" />

}