@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{

    <div class="navbar-fixed-top adnavs">
        <ul class="mynavsul">
            <li class="mynavsimg" width="150"><img src="~/Graphics/logo.png" width="100" /></li>
            <li class="mynavstitle">@Html.ActionLink("Northwest Labs", "Index", "Home")</li>
            <li class="mynavsli">@Html.ActionLink("About", "About", "Home")</li>
            <li class="mynavsli">@Html.ActionLink("Services", "Services", "Home")</li>
            <li class="mynavsli">@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li class="adnavsli">@Html.ActionLink("My Orders", "MyWorkOrders", "Client")</li>
            <li class="adnavsli">@Html.ActionLink("My Test Results", "MyTestResults", "Client")</li>
            <li class="adnavsli">@Html.ActionLink("New Order", "Create", "Customers")</li>
            <li class="adnavsli" style="float:right;"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </div>
}


