<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/OurStyles.css">
    <style>
        li {
            color: white;
        }
    </style>
</head>

<body>

    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated && User.Identity.GetUserName() == "admin@gmail.com")
    {

        @Html.Partial("_AdminNav")

    }
    else
    {

    @Html.Partial("_AdminNav");

    <div class="navbar-fixed-top mynavs">

    <ul class="mynavsul">
        <li class="mynavsimg" width="150"><img src="~/Graphics/logo.png" width="100" /></li>
        <li class="mynavstitle">@Html.ActionLink("Northwest Labs", "Index", "Home")</li>
        <li class="mynavsli">@Html.ActionLink("About", "About", "Home")</li>
        <li class="mynavsli">@Html.ActionLink("Services", "About", "Home")</li>
        <li class="mynavsli">@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li class="mynavsli" style="float:right; margin-right:20px;">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    </ul>

    </div>
    }

    <div class="container body-content">
        <br /><br /><p style="height:15px"></p>
        @RenderBody()
        <hr />
        <footer>
            <p class="footertext">&copy; @DateTime.Now.Year - Northwest Labs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
